.App {
  width: auto;
  min-height: 100vh;
  background-color: whitesmoke;
  padding: 30px;
}

.notesList {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.notesListItem {
  margin: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 3px;
}

.notesListItem:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.detailsContainer {
  background-color: white;
  padding: 20px;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 3px;
}

.detailsContainer:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardTitle{
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.825);
  color: white;
  padding: 7px 10px;
  text-align: center;
  font-size: 32px;
  letter-spacing: 4px;
}

aside {
  border: 1px black solid;
  border-radius: 3px;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editBtn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
}
.editBtn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.deleteBtn {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
}
.deleteBtn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cancelBtn {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
}
.cancelBtn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.saveBtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
}
.saveBtn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button:disabled,
button[disabled]{
  border: none;
  background-color: #d6d6d6a9;
  color: #6666668a;
}

.createBtn{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
}
.createBtn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

input[type=text], [type=password]{
  width: 30%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
}

.warning{
  background-color: #f44336;
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}